    /* ####################################################
    :: Template Name: Essence - Fashion Ecommerce Template
    :: Author: Colorlib
    :: Author URL: https://colorlib.com
    :: Description: Essence is smart & elegant fashion e-commerce Template. It's suitable for all e-commerce business platform.
    :: Version: 1.0.0
    :: Created: April 27, 2018
    :: Last Updated: May 2, 2018
    #################################################### */

    /* ---------------------------------------
    ##### - PLACE YOUR CUSTOM CSS HERE - #####
    --------------------------------------- */

    /*********************/
    /*       header      */
    /*********************/
    h1 {
        color: #484a46;
        font: 700 2.5rem/3rem "Montserrat", sans-serif;
    }

    .p-heading {
        margin-bottom: 3.5rem;
        text-align: center;
    }

    .header {
        background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url('../../upload/konten/header-image.jpg') center center no-repeat;
        background-size: cover;
    }

    .header .header-content {
        padding-top: 8rem;
        padding-bottom: 2.125rem;
        text-align: center;
    }

    .header .text-container {
        margin-bottom: 3rem;
    }

    .header h1 {
        margin-bottom: 0.5rem;
        color: #131212;
    }

    .header .p-large {
        margin-bottom: 2rem;
        color: #131212;
    }

    .header .btn-solid-lg {
        margin-right: 0.5rem;
        margin-bottom: 1.25rem;
    }

    /* Header */
    .header .header-content {
        padding-top: 14rem;
        padding-bottom: 15rem;
    }

    .header .text-container {
        margin-top: 4rem;
    }

    .btn-solid-lg {
        display: inline-block;
        padding: 1.375rem 2.125rem 1.375rem 2.125rem;
        border: 0.125rem solid #14bf98;
        border-radius: 5rem;
        background-color: #14bf98;
        color: #fff;
        font: 700 0.75rem/0 "Montserrat", sans-serif;
        text-decoration: none;
        transition: all 0.2s;
    }

    .btn-solid-lg:hover {
        background-color: transparent;
        color: #14bf98;
        text-decoration: none;
    }

    /*********************/
    /*   fokus banyumas  */
    /*********************/
    .basic-1 {
        padding-top: 6.5rem;
        padding-bottom: 3rem;
    }

    .basic-1 .text-container {
        margin-bottom: 3rem;
    }

    .basic-1 .section-title {
        margin-bottom: 0.5rem;
    }

    .basic-1 h2 {
        margin-bottom: 1.375rem;
    }

    .basic-1 .testimonial-author {
        color: #484a46;
    }

    .basic-1 .image-container {
        overflow: hidden;
        border-radius: 0.25rem;
    }

    .basic-1 .image-container img {
        margin: 0;
        border-radius: 0.25rem;
        transition: all 0.3s;
    }

    .basic-1 .image-container:hover img {
        -moz-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }

    .basic-1 {
        padding-top: 6.875rem;
    }

    .basic-1 .text-container {
        margin-bottom: 0;
    }

    /***************************/
    /*       Description       */
    /***************************/
    .cards-1 {
        padding-top: 3rem;
        padding-bottom: 2.875rem;
    }

    .cards-1 .card {
        margin-bottom: 2.5rem;
        border: none;
        text-align: center;
    }

    .cards-1 .fa-stack {
        width: 6rem;
        height: 6rem;
        margin-right: auto;
        margin-bottom: 1rem;
        margin-left: auto;
        line-height: 6rem;
        text-align: left;
    }

    .cards-1 .fa-stack .hexagon {
        position: absolute;
        width: 6rem;
        height: 6rem;
        background: url('../img/hexagon-green.svg') center center no-repeat;
        background-size: 6rem 6rem;
    }

    .cards-1 .fa-stack-1x {
        color: #fff;
        font-size: 2rem;
    }

    .cards-1 .card-body {
        padding: 0;
    }

    .cards-1 .card-title {
        margin-bottom: 0.625rem;
    }

    .cards-1 .card {
        display: inline-block;
        max-width: 17.5rem;
        text-align: left;
        vertical-align: top;
    }

    .cards-1 div.card:nth-child(3n+2) {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    /*************************/
    /*     ishpot detail     */
    /*************************/
    .tabs .tabs-container {
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 2rem;
        padding-bottom: 5.75rem;
    }

    .tabs .nav-tabs {
        justify-content: center;
        margin-bottom: 1.125rem;
        border-bottom: none;
    }

    .tabs .nav-link {
        margin-right: 1.625rem;
        margin-bottom: 0.875rem;
        padding: 0;
        border: none;
        border-radius: 0.25rem;
        color: #c1cace;
        font: 700 1.375rem/1.375rem "Montserrat", sans-serif;
        text-decoration: none;
        transition: all 0.2s ease;
    }

    .tabs .nav-link:hover,
    .tabs .nav-link.active {
        color: #14bf98;
    }

    .tabs .nav-link .fas {
        margin-right: 0.125rem;
        font-size: 0.875rem;
        vertical-align: 20%;
    }

    .tabs #tab-1 .progress-container {
        margin-top: 1.5rem;
    }

    .tabs #tab-1 .progress-container .title {
        margin-bottom: 0.25rem;
        color: #484a46;
        font: 600 0.875rem/1.25rem "Open Sans", sans-serif;
    }

    .tabs #tab-1 .progress {
        margin-bottom: 1.125rem;
        border-radius: 0.125rem;
        background-color: #f9fafc;
    }

    .tabs #tab-1 .progress-bar {
        display: block;
        padding-left: 1.5rem;
        border-radius: 0.125rem;
        background: linear-gradient(to bottom right, #14bf98, #1bd1a7);
    }

    .tabs #tab-1 .progress-bar.first {
        width: 100%;
    }

    .tabs #tab-1 .progress-bar.second {
        width: 75%;
    }

    .tabs #tab-1 .progress-bar.third {
        width: 90%;
    }

    .tabs #tab-2 .list-unstyled {
        margin-top: 1.75rem;
        margin-bottom: 0;
        vertical-align: top;
    }

    .tabs #tab-2 .list-unstyled .media {
        margin-bottom: 2rem;
    }

    .tabs #tab-2 .list-unstyled .media-bullet {
        color: #14bf98;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2rem;
    }

    .tabs #tab-2 .list-unstyled .media-body {
        margin-left: 0.875rem;
    }

    .tabs #tab-3 .list-unstyled .fas {
        color: #14bf98;
        font-size: 0.5rem;
        line-height: 1.375rem;
    }

    .tabs #tab-3 .list-unstyled .media-body {
        margin-left: 0.625rem;
    }

    .tabs #tab-3 .list-unstyled {
        margin-bottom: 1.75rem;
    }

    .tabs .area-1 {
        height: 27rem;
        background: url('../../upload/konten/ishpot-detail.jpg') center center no-repeat;
        background-size: cover;
    }

    .tabs .tabs-container {
        max-width: 70%;
    }

    .tabs #tab-2 .list-unstyled {
        display: inline-block;
        width: 45%;
        margin-top: 0;
    }

    .tabs #tab-2 .list-unstyled.first {
        margin-right: 2rem;
    }

	.tabs .area-1 {
		width: 50%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}

	.tabs .area-2 {
		width: 50%;
		height: 100%;
		display: inline-block;
	}

	.tabs .tabs-container {
		max-width: 88%;
		margin-left: 2rem;
		padding-top: 6.75rem;
		padding-bottom: 0;
	}

	.tabs .nav-tabs {
		justify-content: flex-start;
	}

    .tabs .tabs-container {
		max-width: 28rem;
		margin-right: 5rem;
		margin-left: auto;
	}

	.tabs #tab-2 .media-wrapper.first {
		margin-right: 2rem;
	}
